*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 html,body{
    height: 100%;
    width: 100%;
    font-family: 'poppies' Arial, Helvetica, sans-serif;
    text-transform: capitalize;
 }

 
 .main_container{
    height: 100%;
    width: 100%;
    background-image: url(images/background.png);
background-size: cover;
padding: 25px;

 }


 .heading-img{

    position: relative;
    left: 2%;
 }

 .main-text{

    position: absolute;
    top: 17%;
    transform: translate(-50%);
    left: 40%;
    color: white;

}

.main-text h1{
    font-size: 50px;
    font-weight: 600;

}
.main-text h1 span{
    color: chocolate;
    font-size: 52px;
}
.days_cont p{
    font-size: 23px;
}


button{
    background: transparent;
   width: 130px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 16px;
   text-transform: capitalize;
   padding: 10px;
   cursor: pointer;
}

button img{
    width: 25px;
    margin-left: 10px;
}


.days_cont{
    display: flex;
    flex-direction: column;


}
.days_cont div{
    flex-basis: 40px;

}


.rocket{
    width:130px;
    position: absolute;
    /* right: 5%; */
    bottom: 0%;

    animation: rocket 5s linear infinite;
}

@keyframes rocket {

    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
    
}


 @media (min-width:1024px) {
    
 
 .main_container{
    height: 100%;
    width: 100%;
    background-image: url(images/background.png);
background-size: cover;
padding: 25px;
 }

 .heading-img{

    position: relative;
    left: 10%;
 }

 .main-text{

    position: absolute;
    top: 40%;
    transform: translate(-50%);
    left: 30%;
    color: white;

}
.main-text p{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-text h1{
    font-size: 70px;
    font-weight: 600;

}
.main-text h1 span{
    color: chocolate;
    font-size: 79px;
}

.days_cont{
    display: flex;
    flex-direction: row;


}
.days_cont div{
    flex-basis: 200px;

}
.days_cont p{
    font-size: 60px;
}
button{
    background: transparent;
   width: 200px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 21px;
   text-transform: capitalize;
   padding: 10px;
}
button img{
    width: 25px;
    margin-left: 10px;
}

.rocket{
    width: 280px;
    position: absolute;
    right: 10%;
    bottom: 0%;

    animation: rocket 5s linear infinite;
}

@keyframes rocket {

    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
    
}
 }